body {
    background-color: grey;
    font-family: 'Acme', sans-serif;
}
a:hover {
    background-color: #111111;
}

.camo {
    background-image: url("img/306801.jpg");
}
span{
    font-size: 30px;
}
.card {
   align-content: center;
    align-items: center;
    text-align: center;
}
 a:hover {
     background-color: inherit; !important;
     border: limegreen solid 2px;
 }
  a {
      padding: 0;
  }

