body {
    background-color: black;
    font-family: 'Acme', sans-serif;
}
a:hover {
    background-color: #111111;
}

.camo {
    background-image: url("img/306801.jpg");
}
span{
    font-size: 30px;
}
.card {
   align-content: center;
    align-items: center;
    text-align: center;
}
 .fab:hover, .fas:hover {
     background-color: inherit; !important;
     border: limegreen solid 3px;
 }
  a {
      padding: 0;
  }

img {
    border: whitesmoke solid 2px; !important;
}
 img:hover {
     background-color: black; !important;
     border: limegreen solid 3px; !important;
 }
 h2:hover {
     color: #111111; !important;
 }